* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #afbcd0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
    width: 100%;
    text-align: left;
}

input[type="text"], select {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}

select {
    height: 40px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;  /* Ensure the font size is large enough */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;  /* Make the button take up available space */
    margin: 0 5px;  /* Add some space between the buttons */
    text-align: center;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

input[type="text"]::placeholder {
    color: #aaa;
}
